{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br"> <!--<![endif]-->

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Beholder</title>

	<link href="{% static "style.min.css" %}" rel="stylesheet" media="screen">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]> -->
	<script src="{% static "js/main-head.js" %}"></script>
	<script src="{% static "source/js/lib/modernizr.custom.js" %}"></script>
	<!-- [endif]-->

    <style type="text/css">
        body {
            font: 10pt arial;
        }
        #conections-content {
            margin-top: 10%;
            width: 100%;
            height: 700px;
            border: 1px solid lightgray;
            background-color:#FFFFFF;
        }
    </style>

</head>
<body data-spy="scroll" data-target="#top-navbar">

<header id="home">

	<!-- top menu  -->
	{% include "top-menu.html" %}
	<!-- top menu -->

</header>